<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppointedTimeSet</key>
	<dict>
		<key>item 0</key>
		<dict>
			<key>time</key>
			<string>10:00</string>
			<key>type</key>
			<string>A</string>
		</dict>
		<key>item 1</key>
		<dict>
			<key>time</key>
			<string>11:00</string>
			<key>type</key>
			<string>B</string>
		</dict>
		<key>item 2</key>
		<dict>
			<key>time</key>
			<string>13:00</string>
			<key>type</key>
			<string>A</string>
		</dict>
		<key>item 3</key>
		<dict>
			<key>time</key>
			<string>14:00</string>
			<key>type</key>
			<string>B</string>
		</dict>
		<key>item 4</key>
		<dict>
			<key>time</key>
			<string>16:00</string>
			<key>type</key>
			<string>A</string>
		</dict>
		<key>item 5</key>
		<dict>
			<key>time</key>
			<string>17:00</string>
			<key>type</key>
			<string>B</string>
		</dict>
		<key>item 6</key>
		<dict>
			<key>time</key>
			<string>19:00</string>
			<key>type</key>
			<string>A</string>
		</dict>
		<key>item 7</key>
		<dict>
			<key>time</key>
			<string>19:30</string>
			<key>type</key>
			<string>B</string>
		</dict>
	</dict>
</dict>
</plist>
